interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer fcb2e4a0658f103e4921e684c27d2822e12eebdb
    method: GET
    uri: https://qiita.com/api/v2/authenticated_user
  response:
    body:
      string: '{"description":"Programmer","facebook_id":"","followees_count":2,"followers_count":1,"github_login_name":"ryokat3","id":"ryokat3","items_count":9,"linkedin_id":"","location":"Japan","name":"Ryoji
        Kato","organization":"","permanent_id":115148,"profile_image_url":"https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/115148/profile-images/1641617983","team_only":false,"twitter_screen_name":null,"website_url":"","image_monthly_upload_limit":104857600,"image_monthly_upload_remaining":104857600}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2aaf04820679c58d926153e93c3c317f"
      Rate-Limit:
      - '1000'
      Rate-Remaining:
      - '972'
      Rate-Reset:
      - '1642741683'
    status:
      code: 200
      message: OK
version: 1
