interactions:
- request:
    body: '{"body": "![img1](https://raw.githubusercontent.com/github-id/github-repo/master/img1.png)",
      "tags": [{"name": "test", "versions": []}], "title": "md3", "private": true}'
    headers:
      Authorization:
      - Bearer fcb2e4a0658f103e4921e684c27d2822e12eebdb
      Content-Type:
      - application/json
    method: POST
    uri: https://qiita.com/api/v2/items
  response:
    body:
      string: '{"rendered_body":"\u003cp\u003e\u003ca href=\"https://camo.qiitausercontent.com/d42dfcd6e60ca82bd25818138a4adf6a51e83e2f/68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f6769746875622d69642f6769746875622d7265706f2f6d61737465722f696d67312e706e67\"
        target=\"_blank\" rel=\"nofollow noopener\"\u003e\u003cimg src=\"https://camo.qiitausercontent.com/d42dfcd6e60ca82bd25818138a4adf6a51e83e2f/68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f6769746875622d69642f6769746875622d7265706f2f6d61737465722f696d67312e706e67\"
        alt=\"img1\" data-canonical-src=\"https://raw.githubusercontent.com/github-id/github-repo/master/img1.png\"\u003e\u003c/a\u003e\u003c/p\u003e\n","body":"![img1](https://raw.githubusercontent.com/github-id/github-repo/master/img1.png)\n","coediting":false,"comments_count":0,"created_at":"2022-01-19T10:45:25+09:00","group":null,"id":"43f84c5209394386851b","likes_count":0,"private":true,"reactions_count":0,"tags":[{"name":"test","versions":[]}],"title":"md3","updated_at":"2022-01-19T10:45:25+09:00","url":"https://qiita.com/ryokat3/private/43f84c5209394386851b","user":{"description":"Programmer","facebook_id":"","followees_count":2,"followers_count":1,"github_login_name":"ryokat3","id":"ryokat3","items_count":9,"linkedin_id":"","location":"Japan","name":"Ryoji
        Kato","organization":"","permanent_id":115148,"profile_image_url":"https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/115148/profile-images/1641617983","team_only":false,"twitter_screen_name":null,"website_url":""},"page_views_count":null,"team_membership":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1f1c5c7f927af2a8af42a711edd0a582"
      Rate-Limit:
      - '1000'
      Rate-Remaining:
      - '979'
      Rate-Reset:
      - '1642559773'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - Bearer fcb2e4a0658f103e4921e684c27d2822e12eebdb
    method: DELETE
    uri: https://qiita.com/api/v2/items/43f84c5209394386851b
  response:
    body:
      string: ''
    headers:
      Rate-Limit:
      - '1000'
      Rate-Remaining:
      - '978'
      Rate-Reset:
      - '1642559772'
    status:
      code: 204
      message: No Content
version: 1
